/*Content Header page*/

header{
background-color: #F7F7FA;
}


.Leter_Head
{
padding-left: 8%;
padding-right: 8%;
}

.Content_Header_Leter{
color: blue;
font-family: verdana;
}

.Language_style{
color: red;
}

#Content_Header
{
width: 100%;
padding-top: 2%;
}

.Name_Company
{
padding-left: 14%;
width: 21%;
padding-bottom: 1%;
margin-top: -2%;
}
.Img_Columbia
{
width: 21px;
}
img{
 background-repeat: no-repeat;
}
#Image_COL
{
padding-left: 5%;
}


#search
{
padding-right: 37%;
}


.Input_Search
{
padding-left: 75%;
padding-top: 0%;
padding-bottom: 1%;
}

/*Line HR*/

#Line_Hr
{
 border-color: grey;
}

/*Content Menu Navigation*/

#Content_Menu
{
background-color: #2947A5;
width: 100%;
}

#btn_primary{
background-color: #2947A5;
color: #FFF;
display: inline-block;
padding: 17px 37px;
margin-bottom: 0px;
font-size: 16px;
cursor: pointer;
border: 1px solid;

}

#btn_primary:hover {
 background: grey;
 text-decoration: none;
}


.Image_Destino
{
width:100%;
height: 8em;
}

/*Information News From content Image*/
.Finalize_News
{
background-color: rgb(195,28,90);
color: white;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 6%;
font-family: verdana;
}

.Information_Front_Img{
position: absolute;
right: 3em;
top: 2em;
}

.Image_Mostrar
{
width:100%;
height: 20em;
}

.Leter_image{
color: blue;
font-family: verdana;
}


#icon
{
background-color: #2947A5;
color: white;
border: none;
}

.font_size_leter{
font-size: 20px;
}



.Color_Content{
color: #2947A5;
font-family: verdana;
}

.Title_Image{
color: rgb(91,161,216);
font-family: amadeus-font;
font-size: 44px;
}
/*Button information into slider Image*/
#Button_Information{
background-color: #C31C5A;
position: absolute;
right: 3em;
top: 14em;
border: 0px;
border-radius: 10px;
width: 20%;
height: 17%;
color: white;
font-family: verdana;
font-size: 16px;
}

.btn-group{
font-family: verdana;
}


a{
text-decoration: none;
color: grey !important;
}

a:hover {
color: #23527C;
text-decoration: none !important;
}


.Color_Title{
color: rgb(195,28,90);
font-size: 27px;
font-family: verdana;
}
.Content_Front_Img_Leter{
background-color: rgb(247,247,250);
padding-left: 6%;
padding-bottom: 8%;
}

#Content_Information_Toglee{
background-color: #FFF;
}



#Reports{
margin-bottom: -118px;
}
.Logo_icon_Toglee{
width: 80%;
padding-top: 18%;
}


.Frirst_Content_Toglee{
display: inline-block;
width: 35%;
}
.Logo_icon{
width: 75%;
padding-left: 10%;
}

#Content_Information{
background-color: rgb(247,247,250);
width: 74.3%;
}




.nivo-directionNav .nivo-nextNav a{
display: none;
}


ol{
color: grey;
font-family: amadeus-font;
}
h2,h3{
font-family: verdana;
}

.font_leter_Ringht{
font-family: amadeus-font;
}

.Frirst_Content{
width: 50%;
display: inline-block;
padding-bottom: 3%;
padding-left: 5%;
padding-top: 6%;
}
.Content_Leter_Center{
width: 50%;
display: inline-block;
padding-bottom: 16%;
padding-left: 2.3%;
}
.showme{
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 98%;
	z-index: 20;
	padding-top: 16%;
	padding-left: 8%;
	cursor: default;
	border: 2px top;
}

.showhim:hover .showme{
	display : block;
}


.showhim{
color: grey;
padding-left: 8%;
font-family: amadeus-font;
font-size: 20px;
}


/*override nivo*/
.prevText{
position: relative !important;
height: 50px !important;
width: 50px !important;
margin-left: 15px;
opacity: 0.5;
margin-top: 20px;
}

.prevText:hover{
opacity: 1;
}

.nextText{
position: relative !important;
height: 50px !important;
width: 50px !important;
margin-right: 15px;
opacity: 0.5;
margin-top: 20px;
}
.nextText:hover{
opacity: 1;
}



/*content-social-network*/
.content-social-network{
position: fixed;
left: 0;
top: 0;
margin-top: 20%;
z-index: 100;

}

.content-social-network a{
color:white;
}

.content-social-network a:hover{
color:white;
}

.internal-social-network{

}


.content-item-social{
padding: 6px;
background-color: #0054a5;
margin-bottom: 3px;
text-align: center;
}

.content-item-social-last{
margin-bottom:0;
}
